Source: grub2
Section: admin
Priority: extra
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: GRUB Maintainers <pkg-grub-devel@lists.alioth.debian.org>
Uploaders: Jason Thomas <jason@debian.org>, Otavio Salvador <otavio@debian.org>, Robert Millan <rmh@aybabtu.com>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), patchutils (>= 0.2.25), autoconf, liblzo2-dev | liblzo-dev,
 ruby, bison, dpkg-dev (>= 1.13.12), unifont-bin,
 libc6-dev-i386 [amd64], libc0.1-dev-i386 [kfreebsd-amd64], libc6-dev-powerpc [ppc64],
 gcc-multilib [amd64 kfreebsd-amd64 ppc64] | gcc-4.1 (<< 4.1.2) [amd64 kfreebsd-amd64 ppc64]
Build-Conflicts: autoconf2.13
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.debian.org/svn/pkg-grub/grub2/
XS-Vcs-Browser: svn://svn.debian.org/pkg-grub/


Package: grub2
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64 powerpc ppc64
Depends: debconf, grub-pc [i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64] | grub-of [powerpc ppc64]
Description: GRand Unified Bootloader, version 2 (dummy package)
 This is a dummy transitional package to handle GRUB 2 upgrades.  It can be
 safely removed.

Package: grub-pc
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: grub
Replaces: pupa, grub, grub2 (<< ${Source-Version})
Conflicts: pupa, grub
Description: GRand Unified Bootloader, version 2 (PC/BIOS version)
 GRUB 2 (also known as PUPA) is the Preliminary Universal Programming
 Architecture for GRUB. It is a research project for the next generation of
 GNU GRUB. The most important goal is to make GNU GRUB cleaner, safer, more
 robust, more powerful, and more portable.
 .
 GRUB 2 targets at the following goals:
 .
  - Scripting support, such as conditionals, loops, variables and functions.
  - Graphical interface.
  - Dynamic loading of modules in order to extend itself at the run time
    rather than at the build time.
  - Portability for various architectures.
  - Internationalization. This includes support for non-ASCII character code,
    message catalogs like gettext, fonts, graphics console, and so on.
  - Real memory management, to make GNU GRUB more extensible.
  - Modular, hierarchical, object-oriented framework for file systems, files,
    devices, drives, terminals, commands, partition tables and OS loaders.
  - Cross-platform installation which allows for installing GRUB from a
    different architecture.
  - Rescue mode saves unbootable cases. Stage 1.5 was eliminated.
  - Fix design mistakes in GRUB Legacy, which could not be solved for
    backward-compatibility, such as the way of numbering partitions. 
 .
 This package contains a version of GRUB that has been built for use with
 traditional PC/BIOS architecture.

Package: grub-efi
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: grub
Replaces: pupa, grub, grub2 (<< ${Source-Version})
Conflicts: pupa, grub
Description: GRand Unified Bootloader, version 2 (EFI version)
 GRUB 2 (also known as PUPA) is the Preliminary Universal Programming
 Architecture for GRUB. It is a research project for the next generation of
 GNU GRUB. The most important goal is to make GNU GRUB cleaner, safer, more
 robust, more powerful, and more portable.
 .
 GRUB 2 targets at the following goals:
 .
  - Scripting support, such as conditionals, loops, variables and functions.
  - Graphical interface.
  - Dynamic loading of modules in order to extend itself at the run time
    rather than at the build time.
  - Portability for various architectures.
  - Internationalization. This includes support for non-ASCII character code,
    message catalogs like gettext, fonts, graphics console, and so on.
  - Real memory management, to make GNU GRUB more extensible.
  - Modular, hierarchical, object-oriented framework for file systems, files,
    devices, drives, terminals, commands, partition tables and OS loaders.
  - Cross-platform installation which allows for installing GRUB from a
    different architecture.
  - Rescue mode saves unbootable cases. Stage 1.5 was eliminated.
  - Fix design mistakes in GRUB Legacy, which could not be solved for
    backward-compatibility, such as the way of numbering partitions. 
 .
 This package contains a version of GRUB that has been built for use with
 EFI architecture, such as the one provided by Intel Macs (that is, unless
 they are in MBR emulation mode).

Package: grub-of
Architecture: powerpc ppc64
Depends: ${shlibs:Depends}, ${misc:Depends}, powerpc-ibm-utils
Provides: grub
Replaces: pupa, grub, grub2 (<< ${Source-Version})
Conflicts: pupa, grub
Description: GRand Unified Bootloader, version 2
 GRUB 2 (also known as PUPA) is the Preliminary Universal Programming
 Architecture for GRUB. It is a research project for the next generation of
 GNU GRUB. The most important goal is to make GNU GRUB cleaner, safer, more
 robust, more powerful, and more portable.
 .
 GRUB 2 targets at the following goals:
 .
  - Scripting support, such as conditionals, loops, variables and functions.
  - Graphical interface.
  - Dynamic loading of modules in order to extend itself at the run time
    rather than at the build time.
  - Portability for various architectures.
  - Internationalization. This includes support for non-ASCII character code,
    message catalogs like gettext, fonts, graphics console, and so on.
  - Real memory management, to make GNU GRUB more extensible.
  - Modular, hierarchical, object-oriented framework for file systems, files,
    devices, drives, terminals, commands, partition tables and OS loaders.
  - Cross-platform installation which allows for installing GRUB from a
    different architecture.
  - Rescue mode saves unbootable cases. Stage 1.5 was eliminated.
  - Fix design mistakes in GRUB Legacy, which could not be solved for
    backward-compatibility, such as the way of numbering partitions. 
