Source: grub2
Section: admin
Priority: extra
Maintainer: GRUB Maintainers <pkg-grub-devel@lists.alioth.debian.org>
Uploaders: Jason Thomas <jason@debian.org>, Otavio Salvador <otavio@debian.org>, Robert Millan <rmh@aybabtu.com>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), patchutils (>= 0.2.25), autoconf, liblzo2-dev | liblzo-dev,
 ruby, bison, dpkg-dev (>= 1.13.12), unifont-bin,
 genisoimage [i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64],
 libc6-dev-i386 [amd64], libc0.1-dev-i386 [kfreebsd-amd64], libc6-dev-powerpc [ppc64],
 gcc-multilib [amd64 kfreebsd-amd64 ppc64] | gcc-4.1 (<< 4.1.2) [amd64 kfreebsd-amd64 ppc64],
 libncurses5-dev
Build-Conflicts: autoconf2.13
Standards-Version: 3.7.2
Homepage: http://www.gnu.org/software/grub/grub-2.en.html
Vcs-Svn: svn://svn.debian.org/svn/pkg-grub/grub2/
Vcs-Browser: svn://svn.debian.org/pkg-grub/


Package: grub2
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64 powerpc ppc64
Depends: debconf, grub-pc [i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64] | grub-ieee1275 [powerpc ppc64]
Description: GRand Unified Bootloader, version 2 (dummy package)
 This is a dummy transitional package to handle GRUB 2 upgrades.  It can be
 safely removed.

Package: grub-of
Architecture: powerpc ppc64
Depends: grub-ieee1275 (= ${Source-Version})
Description: GRand Unified Bootloader, version 2 [dummy]
 This is a dummy transitional package that depends on grub-ieee1275.


Package: grub-pc
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, base-files (>= 4.0.1), debconf
Provides: grub
Replaces: pupa, grub, grub2 (<< ${Source-Version})
Conflicts: pupa, grub, desktop-base (= 4.0.5)
Suggests: desktop-base (>= 4.0.6)
Description: GRand Unified Bootloader, version 2 (PC/BIOS version)
 GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub2.
  - VESA-based graphical mode with background image support and complete 24-bit
    color set.
  - Support for extended charsets.  Users can write UTF-8 text to their menu
    entries.
 .
 This package contains a version of GRUB that has been built for use with
 traditional PC/BIOS architecture.

Package: grub-rescue-pc
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64
Depends: base-files (>= 4.0.1)
Description: GRUB bootable rescue images, version 2 (PC/BIOS version)
 This package contains two GRUB rescue images that have been built for use with
 traditional PC/BIOS architecture:
 .
  - grub-rescue-floppy.img: floppy image.
  - grub-rescue-cdrom.iso: El Torito CDROM image.

Package: grub-linuxbios
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, base-files (>= 4.0.1)
Provides: grub
Replaces: pupa, grub, grub2 (<< ${Source-Version})
Conflicts: pupa, grub
Description: GRand Unified Bootloader, version 2 (LinuxBIOS version)
 GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub2.
 .
 This package contains a version of GRUB that has been built for use with
 platforms running the LinuxBIOS firmware.

Package: grub-efi
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, base-files (>= 4.0.1)
Provides: grub
Replaces: pupa, grub, grub2 (<< ${Source-Version})
Conflicts: pupa, grub
Description: GRand Unified Bootloader, version 2 (EFI version)
 GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub2.
 .
 This package contains a version of GRUB that has been built for use with
 EFI architecture, such as the one provided by Intel Macs (that is, unless
 they are in MBR emulation mode).

Package: grub-ieee1275
Architecture: i386 kfreebsd-i386 hurd-i386 amd64 kfreebsd-amd64 powerpc ppc64
Depends: ${shlibs:Depends}, ${misc:Depends}, base-files (>= 4.0.1),
 powerpc-ibm-utils (>= 1.0.6) [powerpc ppc64], powerpc-utils [powerpc ppc64], bc [powerpc ppc64]
Provides: grub
Replaces: pupa, grub, grub2 (<< ${Source-Version})
Conflicts: pupa, grub
Description: GRand Unified Bootloader, version 2 (Open Firmware version)
 GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub2.
 .
 This package contains a version of GRUB that has been built for use with
 Open Firmware implementations.
