#!/bin/bash -e

if test -e /boot/grub/menu.lst ; then
  . /usr/share/debconf/confmodule

  db_input high grub-pc/chainload_from_menu.lst || true

  db_get grub-pc/linux_cmdline
  # this check ensures we only do this once
  if [ "$RET" = "fillme" ] ; then
    kopt=`sed -ne "s/^# kopt=//p" /boot/grub/menu.lst | tr -s " " "\n" | grep -vx "\(ro\|root=[^ ]*\)"` || true
    db_set grub-pc/linux_cmdline "${kopt}" || true
    if [ "${kopt}" == "" ] ; then
      # something smells bad.  give user a chance to correct it.
      priority=high
    else
      # if we got something from menu.lst, it must be correct?
      priority=medium
    fi
    db_input ${priority} grub-pc/linux_cmdline || true
  fi

  db_go
fi
