#!/usr/bin/make -f

SHELL		:= bash
package		:= grub2

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

CFLAGS := -g -Wall

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
export CFLAGS
export CXXFLAGS := $(CFLAGS)

CONFIGURE = CC="cc" CXX="g++" CPPFLAGS="" LDFLAGS="" \
	$(CURDIR)/configure --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --includedir="\$${prefix}/include" \
	--mandir="\$${prefix}/share/man" --infodir="\$${prefix}/share/info" --sysconfdir=/etc --localstatedir=/var \
	--libexecdir="\$${prefix}/lib/$(package)" --disable-maintainer-mode --disable-dependency-tracking --srcdir=$(CURDIR) \
	--enable-grub-emu

AUTOGEN_FILES = configure config.h.in conf/*.mk

$(AUTOGEN_FILES): autogen.sh configure.ac conf/*.rmk
	./autogen.sh

configure/grub-pc configure/grub-ieee1275 configure/grub-efi configure/grub-linuxbios:: $(AUTOGEN_FILES)
	mkdir -p $(subst configure/,build/,$@)
	cd $(subst configure/,build/,$@) && $(CONFIGURE) --with-platform=$(subst configure/grub-,,$@)

build/grub-pc build/grub-efi build/grub-ieee1275 build/grub-linuxbios::
	$(MAKE) -C $@

build/grub-rescue-pc:: build/grub-pc
	mkdir -p $@
	$(CURDIR)/build/grub-pc/grub-mkrescue \
		--pkglibdir=$(CURDIR)/build/grub-pc \
		--grub-mkimage=$(CURDIR)/build/grub-pc/grub-mkimage \
		--image-type=floppy \
		$(CURDIR)/$@/grub-rescue-floppy.img
	$(CURDIR)/build/grub-pc/grub-mkrescue \
		--pkglibdir=$(CURDIR)/build/grub-pc \
		--grub-mkimage=$(CURDIR)/build/grub-pc/grub-mkimage \
		--image-type=cdrom \
		$(CURDIR)/$@/grub-rescue-cdrom.iso

install/grub-pc install/grub-efi install/grub-ieee1275 install/grub-linuxbios::
	$(MAKE) -C $(subst install/,build/,$@) install DESTDIR=$(CURDIR)/debian/$(subst install/,,$@)/
	for i in docs ; do \
		cp debian/$$i.in debian/$(subst install/,,$@).$$i ; \
	done

	i=$(CURDIR)/debian/$(subst install/,,$@)/usr/lib/grub/*/kernel.elf ; if test -e $$i ; then strip -s $$i ; fi

	mkdir -p $(CURDIR)/debian/$(subst install/,,$@)/usr/share/lintian/overrides
	cd $(CURDIR)/debian/$(subst install/,,$@) && find ./usr/lib/grub -name \*.mod \
		| sed -e "s%.*%$(subst install/,,$@): unstripped-binary-or-object &%g" \
	> $(CURDIR)/debian/$(subst install/,,$@)/usr/share/lintian/overrides/$(subst install/,,$@)

clean:: debian/legacy/update-grub
	chmod +x debian/{script,grub.d/*,legacy/*}
	-rm -f debian/grub-{pc,efi,ieee1275,linuxbios}.docs
	-rm -rf build

debian/legacy/update-grub:
	svn cat svn://svn.debian.org/pkg-grub/grub/trunk/debian/update-grub > $@
	chmod +x $@

# Grab fixes from CVS using our version as reference.
cvs-sync:
	cvs -d:pserver:anonymous@cvs.savannah.gnu.org:/cvsroot/grub checkout -d grub2-cvs grub2; \
	UVERSION=$$(dpkg-parsechangelog | grep Version \
	                                | sed 's,Version: ,,g;s,-[0-9]*$$,,g;s,\.,_,g'); \
	cd grub2-cvs && \
	cvs diff -uN -r release_$$UVERSION -r HEAD > ../debian/patches/00_cvs-sync.patch; \
	cd .. && rm -rf grub2-cvs

cvs-snapshot:
	UVERSION=$$(dpkg-parsechangelog | grep Version \
	                                | sed 's,Version: ,,g;s,-[0-9]*$$,,g'); \
	cvs -d:pserver:anonymous@cvs.savannah.gnu.org:/cvsroot/grub export -d grub2-$$UVERSION -rHEAD grub2; \
	tar -czf grub2_$$UVERSION.orig.tar.gz grub2-$$UVERSION; \
	rm -rf grub2-$$UVERSION; \
	mv grub2_$$UVERSION.orig.tar.gz ../tarballs/
